.menu-back
{
    width : 20%;
    height : 90%;
    background-color : #bbd2f1;
    position : absolute;
    top : 10%;
    /* 수직 방향으로 FLEX를 통해서 정렬 가능하도록 함  */
}

.menu-back-blocked
{
    display : none;
}

.menu-show-out
{
    display : flex;
    flex-direction: column; 
    position : absolute;
    top : 15%;
    width : 15%;
    left : 2%;
    height : 40%;
}

.menu-show-in
{
    flex-grow : 1;
    border-color : #0c2057;
    border-style : solid;
    border-left-style : none;
    border-top-style : none;
    border-right-style : none;
    border-bottom-style: solid;
    text-align: center;
    margin : 10%;
    font-weight: bold;
}

.menu-show-blocked
{
    display : none;
}

.menu-show-blocked2
{
    display : none;
}

/* 여기는 메뉴를 눌렀을때 반응하는 부분  */