.big-board{
    position : absolute;
    top : 20%;
    left : 5%;
    width : 90%;
    display : flex;
    flex-direction: column;
    height : 80%;
}

.name-board{
    display : flex;
    width : 100%;
    border-bottom-color: #e4e4e4;
    border-style : solid;
    border-right-style :none;
    border-top-style :none;
    border-left-style :none;
}

.name-show{
    flex-grow: 1;
    width : 35%;
    text-align : left;
    font-weight : bold;   
}

.write-show{
    flex-grow: 1;
    width : 30%;
    text-align : right;
    font-weight: bold;  
}

.main-board
{
    flex-grow : 9;
    border-bottom-color: #e4e4e4;
    border-style : solid;
    border-right-style :none;
    border-top-style :none;
    border-left-style :none;
}

.num-board{
    flex-grow : 1;
    display : flex;
    justify-content: center;
}

.num-board-ele{
    text-align : center;
    width: 5%;
}
